body {
  background-color: #505050;
  background-image: url('images/ansel.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  text-align: center;
  color: black;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  padding: .5em;
  color: white;
  background: #5E605D;
  width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #605F5F;
  border-radius: 4px;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

p {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
  padding: 3px;
}

iframe {
  display: block;
  width: 850px;
  border: none;
  margin: auto;
  position: relative;
}

#pdf-resume{
  display: block;
  width: 850px;
  height: 1100px;
  border: none;
  margin: auto;
  position: relative;
}

.tab-content {
  display: none;
  background: white;
  float: left;
  padding: 2em;
  margin-top: 0;
  border-top: 2px solid white;
  border-radius: 4px;
  width: 100%;
}

.tabs {
  float: left;
  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

.tabs li {
  float: left;
  margin-right: 1.5em;
  padding: .7em 0em;
  height: 19px;
  line-height: 25px;
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs li a {
  color: #5E605D;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 1em 2em;
}

.tabs li.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: -3px;
  height: 20px;
}

.tabs li.active a {
  color: black;
  text-decoration: none;
  border-bottom: none;
  padding: .9em 2em;
}

.container {
  width: 65%;
  margin: auto;
}

.hidden {
  display: none;
}

#portfolio img {
  display: inline-block;
  padding: 1em;
  width: 50%;
  margin: auto;
}

#about {
  display: block;
}

@media only screen and (max-width: 500px) {
    iframe {
      display: none;
    }

    .resume-link {
      display: inline;
    }

    body {
       background-image: url('images/mobile-ansel.jpeg'); 
    }

    /* TODO: Add mobile-only styling */
}


