body {
  background-color: #505050;
  background-image: url('../images/ansel.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-info {
  list-style: none;
  text-align: center;
  margin: auto;
}

.contact-logo {
  width: 39px;
  padding: 5px;
}

.copyright {
  text-align: center;
  color: black;
  width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  padding: .5em;
  color: white;
  background: #616161;
  width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
  padding: 3px;
  margin-bottom: 20px;
}

.tab-content {
  display: block;
  background: white;
  float: left;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  border-top: 2px solid white;
  border-radius: 4px;
  width: 100%;
}

.container {
  width: 65%;
  margin: auto;
}

.hidden {
  display: none;
}

#portfolio img {
  display: inline-block;
  padding: 1em;
  width: 50%;
  margin: auto;
}

.mobile-header{
  display: none;
}

@media only screen and (max-width: 500px) {
  body {
      background-image: url('../images/mobile-ansel.jpeg'); 
  }

  .mobile-header{
    display: block;
  }

  .desktop-header {
    display: none;
  }

    /* TODO: Add mobile-only styling */
}


